/**************************************************************/
/****************** CUSTOM PAGE STYLING ***********************/
/***************** by fiveonenine design **********************/
/**************************************************************/


/**************************************************************/
/******************* GENERAL PAGE STYLING *********************/
/**************************************************************

General page styling goes here. 

DELETE STYLING ON THIS PAGE BEFORE STARTING YOUR OWN WEBSITE.
INCLUDED STYLING IS JUST FOR DEMO PAGE!

*/

body {
	font-family: 'Belleza', sans-serif;
	background-image: url("../images/well-balanz/bg.png");
}

ul{
	list-style: none;
	
}

a{
	decoration: none;
	font-family: 'Belleza', sans-serif;
	font-size: 1.85em;
	color: #871715;
}

li{
	float: left;
	display: inline;
	padding: 0 17px;
}

a:link{
	color: #871715;
}

a:visited{
	color: #871715;
}

a:hover{
	color: #C4D64E;
}

a:active{
	color: #C4D64E;
}

#nav{
	margin: 30px 0 40px 45px;
	padding-bottom: 2px;
	padding-left: 0;
	/*border-bottom: dotted 2px #871715;*/
}

.column20,
.column25{
	height: 534px;
}

#logo{
	width: 150%;
	position: relative;
	top: -80px;
	left: 490px;
}

#logo-location{
	width: 118%;
	position: relative;
	top: -80px;
	left: 442px;
}

/*#circle{
	background: #871715;
	border-radius: 10em;
	height: 20em;
	width: 20em;
	box-shadow: 0 -4px rgba(0, 0, 0, 0.27), 0 -12px 3px -5px #999;
	margin: -110px 5px 0 -50px;
}*/


.main{
	background: #871715;
	
}

#first{
	border-top: solid 10px #C4D64E;
	border-bottom: solid 10px #FFA831;
}

#row1{
	margin: -115px 0 0 -5px;
}

#spa{
	top: -5px;
	left: -647px;
	position: relative;
}

#bms{
	top: 45px;
	left: -380px;
	z-index: 1000;
	position: relative;
}

#bamboo{
	top: 3px;
	left: -340px;
	position: relative;
}

p{
	font-family: 'Belleza', sans-serif;
	font-size: 1.3em;
}

#btext{
	margin: 5px 0;
}

table{
	position: relative;
	top: 60px;
	left: -450px;
}

#top-sentance{
	font-family: 'Belleza', sans-serif;
	color: #fff;
	font-size: 2.3em;
}

#img1,
#img2{
	width: 191px;
	height: 142px;
}

#trouble{
	padding: 0 4px 20px 4px;
}

#frily{
	width: 150%;
	position: relative;
	top: 85px;
	right: 130px;
}

a#large-map:link{
	color: #C4D64E;
}

a#large-map:visited{
	color: #C4D64E;
}

a#large-map:hover{
	color: #CCC;
}


/**************************************************************/
/**************************************************************/
/**************************************************************/


/**************************************************************/
/***************** ADDITIONAL PAGE STYLING ********************/
/**************************************************************

Additional page styling goes here.

*/





/**************************************************************/
/**************************************************************/
/**************************************************************/



/**************************************************************/
/******************* MEDIAQUERY RESPONSIVE ********************/
/**************************************************************

Custom Attributes if required for each device layout.

*/


@media (min-width: 768px) and (max-width: 979px) {
	
}
@media (min-width: 480px) and (max-width: 767px) {
	
	
	
}
@media (min-width: 0px) and (max-width: 479px) {
	
	
	
}


/**************************************************************/
/**************************************************************/
/**************************************************************/