/**************************************************************/
/****************** CUSTOM PAGE STYLING ***********************/
/***************** by fiveonenine design **********************/
/**************************************************************/


/**************************************************************/
/******************* GENERAL PAGE STYLING *********************/
/**************************************************************

General page styling goes here. 

DELETE STYLING ON THIS PAGE BEFORE STARTING YOUR OWN WEBSITE.
INCLUDED STYLING IS JUST FOR DEMO PAGE!

*/

body {
	font-family: arial, sans-serif;
	background: #f1f1f1;
}

ul{
	list-style: none;
}

li:nth-child(n+3){
	font-size: 1em;
}

p {
	color: #CCC;
	font-size: 1.5em;
	margin-top: 12px;
	margin-left: 50px;
}

#sub{
	color: #CCC;
	font-size: 1em;
	margin-left: 52px;
	margin-top: -2px;
}

.column60{
	width: 58%;
}

.column-box{
	margin: 0;
}

.row{
	margin-bottom: 50px;
}

#about,
#brokers,
#real-estate,
#popular-searches{
	float: left;
	display: inline;
	margin-top: -3px;
}


a:link{
	color: #CCC;
}

h4{
	color: #666;
	margin-bottom: 5px;
}

footer {
	margin-top: -30px;
	padding-top: 30px;
	background-color: #0f2b5b;
	min-height: 100px;
	border-top: 1px solid #FFF;
}

footer ul li:nth-child(2) a { 
    margin-top: 20px;
}

#flogo{
	float: left;
	margin-bottom: 10px;
}

#tagline>p{
	display: block;
	margin-left: -25px;
	font-size: 1.3em;
}

#tagline>#sub{
	font-size: 1em;
	margin-left: -10px;
}

.footer25{
	padding-right: 5px;
	padding-bottom: 17px;
	margin-right: 5px;
	border-right: dotted #999 1px;
}

.footer75{
	width: 70%;
}

#disclaimer{
	margin-top: 30px;
	font-size: 0.75em;
	color: #fff;
}


/**************************************************************/
/**************************************************************/
/**************************************************************/


/**************************************************************/
/***************** ADDITIONAL PAGE STYLING ********************/
/**************************************************************

Additional page styling goes here.

*/





/**************************************************************/
/**************************************************************/
/**************************************************************/



/**************************************************************/
/******************* MEDIAQUERY RESPONSIVE ********************/
/**************************************************************

Custom Attributes if required for each device layout.

*/


@media (min-width: 768px) and (max-width: 979px) {
	
}
@media (min-width: 480px) and (max-width: 767px) {
	
	.row:nth-child(n+2){
		padding: 10px;
		margin-top: 20px;
	}
	
	#flogo{
		margin-left: -20px;
	}
	
	.footer25{
		padding-right: 33px;
	}
	
	.footer75{
		margin-left: -20px;
	}
	
	#tagline>p{
		font-size: 1em;
	}
	
	#tagline>#sub{
		margin-left: -25px;
	}
	
}
@media (min-width: 0px) and (max-width: 479px) {
	
	p{
		font-size: 1em;
		align: right;
		padding-left: 10px;
	}
	
	#flogo{
		margin-left: -60px;
	}
	
	.footer25{
		padding-right: 33px;
	}
	
	.footer75{
		margin-left: -20px;
	}
	
	#tagline>p{
		font-size: 1em;
	}
	
	#tagline>#sub{
		margin-left: -25px;
	}
	
	#about,
	#brokers,
	#real-estate,
	#popular-searches{
		float: left;
		display: inline;
		margin-top: 20px;
	}
	
	
	
}


/**************************************************************/
/**************************************************************/
/**************************************************************/