/**************************************************************/
/****************** CUSTOM PAGE STYLING ***********************/
/***************** by fiveonenine design **********************/
/**************************************************************/


/**************************************************************/
/******************* GENERAL PAGE STYLING *********************/
/**************************************************************

General page styling goes here. 

DELETE STYLING ON THIS PAGE BEFORE STARTING YOUR OWN WEBSITE.
INCLUDED STYLING IS JUST FOR DEMO PAGE!

*/

body {
	font-family: 'Belleza', sans-serif;
	background-image: url("../images/well-balanz/bg.png");
}

ul{
	list-style: none;
	
}

a{
	decoration: none;
	font-family: 'Belleza', sans-serif;
	font-size: 1.7em;
	color: #871715;
}

li{
	float: left;
	display: inline;
	padding: 0 15px;
}

a:link{
	color: #871715;
}

a:visited{
	color: #871715;
}

a:hover{
	color: #C4D64E;
}

#nav{
	margin: 30px 0 40px 25px;
	padding-bottom: 2px;
	padding-left: 0;
	/*border-bottom: dotted 2px #871715;*/
}

.column30{
	float: right;
}

#logo{
	width: 100%;
	height: 70%;
	margin: -85px 0 0 6px;
}

/*#circle{
	background: #871715;
	border-radius: 10em;
	height: 20em;
	width: 20em;
	box-shadow: 0 -4px rgba(0, 0, 0, 0.27), 0 -12px 3px -5px #999;
	margin: -110px 5px 0 -50px;
}*/


.main{
	background: #871715;
	
}

#first{
	border-top: solid 10px #C4D64E;
}

#row1{
	margin: -115px 0 0 -5px;
}

#spa{
	margin: -330px 0 0 -71px;
}

#bms{
	margin: -125px 0 0 25px;
	z-index: 1000;
}

#bamboo{
	margin: -321px 0 0 -340px;
}

/**************************************************************/
/**************************************************************/
/**************************************************************/


/**************************************************************/
/***************** ADDITIONAL PAGE STYLING ********************/
/**************************************************************

Additional page styling goes here.

*/





/**************************************************************/
/**************************************************************/
/**************************************************************/



/**************************************************************/
/******************* MEDIAQUERY RESPONSIVE ********************/
/**************************************************************

Custom Attributes if required for each device layout.

*/


@media (min-width: 768px) and (max-width: 979px) {
	
}
@media (min-width: 480px) and (max-width: 767px) {
	
	
	
}
@media (min-width: 0px) and (max-width: 479px) {
	
	
	
}


/**************************************************************/
/**************************************************************/
/**************************************************************/